.main_bg{
  background: rgb(240, 234, 234);
}

.scrollBar{
  scrollbar-width: 50px;
  scrollbar-color: #bdc3c7 transparent;
  border-radius: 5px;
  scroll-padding: 5px 2px;
}

.scrollBar::-webkit-scrollbar{
  width: .5vw;
}
.scrollBar::-webkit-scrollbar-thumb{
  background-color: #bdc3c7;
  border-radius: 5px;
  padding: 4px;
}
.scrollBar::-webkit-scrollbar-track{
  background-color: transparent;
  border-radius: 5px;
  padding: 4px;
}

.scrollBar2{
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
}

.scrollBar2::-webkit-scrollbar{
  width: 0;
}
.scrollBar2::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.scrollBar2::-webkit-scrollbar-track{
  background-color: transparent;
}